/* hero */
.f-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-32);
  text-align: center;
}

.f-hero h1 span {
  color: var(--color-text-secondary);
}

.f-hero p {
  max-width: 64ch;
}
