*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "sans-serif", sans-serif;
  font-weight: 400;
  font-size: var(--font-size-7);
  line-height: var(--line-height-7);
  color: var(--color-text-secondary);
  background-color: var(--color-background-primary);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text);
}

h1 {
  font-size: var(--font-size-1);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.04em;
}

h2 {
  font-size: var(--font-size-3);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.04em;
}

section {
  padding-block: var(--spacing-96);
}

/* hero */
.f-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-32);
  text-align: center;
}

.f-hero h1 span {
  color: var(--color-text-secondary);
}

.f-hero p {
  max-width: 64ch;
}

/* experience */
.f-experience {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28em, 1fr));
  gap: var(--spacing-32);
}

.f-experience > div:first-child {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-32);
  max-width: 44ch;
}

.f-experience ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.f-experience li {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-16);
  padding-block: var(--spacing-24);
  border-top: var(--spacing-1) solid var(--color-border);
}

.f-experience li p {
  font-size: var(--font-size-8);
}

.f-experience li:last-child {
  border-bottom: var(--spacing-1) solid var(--color-border);
}

.f-icon-card {
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  align-items: center;
  width: var(--spacing-40);
  aspect-ratio: 1 / 1;
  border-radius: var(--border-radius-m);
  color: var(--color-text);
  background: var(--color-background-secondary);
  border: var(--spacing-1) solid var(--color-border);
}

@media (min-width: 58.75em) {
  .f-experience {
  }
}

.f-label {
  position: relative;
  display: inline-block;
  font-size: var(--font-size-9);
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-text-secondary);
}

.f-label.-highlight:before {
  content: "";
  display: inline-block;
  margin-right: var(--spacing-8);
  margin-bottom: var(--spacing-4);
  width: var(--spacing-16);
  height: var(--spacing-1);
  background: var(--color-accent);
}

/* buttons */
.f-button {
  cursor: pointer;
  user-select: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-height: var(--height-button-m);

  padding: var(--spacing-6) var(--spacing-16);

  font-size: var(--font-size-8);
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  color: var(--color-text-inverse);

  background: var(--color-accent);
  border: none;
  border-radius: var(--border-radius-m);

  transition: var(--transition-button);

  -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
  .f-button:hover {
    background: var(--color-accent-hover);
  }
}

.f-button:active {
  background: var(--color-accent-active);
}

/* secondary buttons */
.f-button.-secondary {
  color: var(--color-text);
  border: var(--spacing-1) solid var(--color-border);
  background: var(--color-background-secondary);
}

@media (hover: hover) {
  .f-button.-secondary:hover {
    color: var(--color-text);
    border: var(--spacing-1) solid var(--color-border-secondary);
    background: var(--color-background-tertiary);
  }
}

.f-button.-secondary:active {
  color: var(--color-text);
  background: var(--color-background-tertiary);
}

/* tertiary buttons */
.f-button.-tertiary {
  color: var(--color-text);
  background: transparent;
}

@media (hover: hover) {
  .f-button.-tertiary:hover {
    color: var(--color-text);
    background: transparent;
  }
}

.f-button.-tertiary:active {
  color: var(--color-text);
  background: transparent;
}

/* modifier */
.f-button:focus-visible {
  outline: var(--spacing-1) solid var(--color-accent-secondary);
  outline-offset: var(--spacing-2);
}

.f-button.-l {
  min-height: var(--height-button-l);
  padding: var(--spacing-8) var(--spacing-26);
}

@media (max-width: 480px) {
}

/* Header */
.f-header {
  z-index: 100;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  border-bottom: var(--spacing-1) solid transparent;
  transition: var(--transition-header);
}

.f-header.-scrolled {
  border-color: var(--color-border);
  background-color: var(--color-background-primary);
}

/* Navigation */
.f-nav ul {
  display: flex;
  align-items: center;
  gap: var(--spacing-16);
  list-style: none;
  margin: 0;
  padding: 0;
}

.f-nav a {
  display: inline-block;
  padding: var(--spacing-6) var(--spacing-8);
  font-size: var(--font-size-8);
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  color: var(--color-text-secondary);
  transition: var(--transition-link);
}

@media (hover: hover) {
  .f-nav a:hover {
    color: var(--color-text);
  }
}

.f-nav a:active {
  color: var(--color-text);
}

.f-nav a:focus-visible {
  outline: var(--spacing-1) solid var(--color-accent-secondary);
  outline-offset: var(--spacing-2);
}

/* utility classes */

.f-container {
  max-width: var(--width-container);
  margin-inline: auto;
  padding-inline: var(--spacing-16);
}

.f-container.-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: var(--spacing-8);
}

.f-flex {
  display: flex;
}

.f-flex-column {
  flex-direction: column;
}

.f-gap-4 {
  gap: var(--spacing-4);
}

.f-gap-8 {
  gap: var(--spacing-8);
}

.f-gap-16 {
  gap: var(--spacing-16);
}

.f-item-center {
  align-items: center;
}
