html {
  scroll-behavior: smooth;
}

body {
  font-family: "sans-serif", sans-serif;
  font-weight: 400;
  font-size: var(--font-size-7);
  line-height: var(--line-height-7);
  color: var(--color-text-secondary);
  background-color: var(--color-background-primary);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text);
}

h1 {
  font-size: var(--font-size-1);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.04em;
}

h2 {
  font-size: var(--font-size-3);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.04em;
}

section {
  padding-block: var(--spacing-96);
}

button:focus-visible,
a:focus-visible {
  outline: var(--spacing-2) solid var(--color-accent);
  outline-offset: var(--spacing-2);
}
